@model List<personapi_dotnet.Models.Entities.Estudio>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create">Crear nuevo estudio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Universidad
            </th>
            <th>
                Persona
            </th>
            <th>
                Profesión
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Univer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CcPer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProf)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
