@model List<personapi_dotnet.Models.Entities.Telefono>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create">Crear nuevo teléfono</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Operador
            </th>
            <th>
                Dueño
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Oper)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Duenio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Num">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Num">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Num">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
